<div class="addEditProduct">
	<label>
		<b><span translate="productDlg.Title"></span></b>
	</label>
	<div>
		<input type="text" ng-model="product.name" placeholder="" translate translate-attr-placeholder="productDlg.Name"/>
		<input type="text" ng-model="product.price" placeholder="" translate translate-attr-placeholder="productDlg.Price"/>
		<input type="text" ng-model="product.quantitySold" placeholder="" translate translate-attr-placeholder="productDlg.QuantitySold"/>
		<input type="text" ng-model="product.quantityInStock" placeholder="" translate translate-attr-placeholder="productDlg.QuantityInStock"/>
		<input type="text" ng-model="product.imagePath" placeholder="" translate translate-attr-placeholder="productDlg.ImagePath"/>
	</div>

	<button class="btn btn-primary" ng-click="onOk()">
		<span translate="shared.Add"></span>
	</button>
	<button class="btn btn-primary" ng-click="onCancel()">
		<span translate="shared.Cancel"></span>
	</button>
</div>