
.Sellers {
  /* TODO: add any Sellers-specific styles here! */

}

body {
	background: url('http://orig01.deviantart.net/766f/f/2013/052/d/7/seamless_texture__frozen_by_ark4n-d2pg9na.jpg');
	background-size: 100% auto;
	background-repeat: repeat-y;

	font-family: 'Open Sans', sans-serif;
	font-style: black;
	word-spacing: normal;
	font-size: 20px;
}


.ProductContainer {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #51cecd;
}
.ProductContainer img {
  border-radius: 7%;
}
.ProductContainer .productName {
  float: left;
  text-align: left;
}
.ProductContainer .productPrice {
  text-align: right;
}
.ProductContainer:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#sectionContent {

	
}

.SellerDetailContainer {

}

.SellerImageContainer {
	
}

