<!--
<div> Hér ætti að birtast listi af seljendum - TODO: útfæra það!</div>
-->
<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading">
	<button class="btn btn-primary" ng-click="onAddSeller()">
		<i class="fa fa-plus">
		<span translate="sellers.AddSeller"><span>
	</button>

	<table>
		<thead>
			<tr>			
				<th>
					<i class="fa fa-plus">
					<span translate="sellers.Name"><span>
				</th>
				<th translate="sellers.Category"></th>
				<th translate="sellers.Edit"></th>
			</tr>
		</thead> 
		<tbody>
			<tr ng-repeat="s in sellers">
				<td>{{s.name}}</td>
				<td>{{s.category}}</td>
				<td>
					<button class="btn btn-default" ng-click="onEditSeller(s)">
						<i class="fa fa-plus">
						<span translate="sellers.Edit"><span>
					</button>
				</td>
			</tr>
		</tbody>

	</table>
</div>