<div class="addEditSeller">
	<label>
		<b><span translate="sellerDlg.Title"></span></b>
	</label>
	<form name="addEditSellerFrom">
		<input type="text" ng-model="seller.name" placeholder="" translate translate-attr-placeholder="sellerDlg.Name"/>
		<input type="text" ng-model="seller.category" placeholder="" translate translate-attr-placeholder="sellerDlg.Category"/>
		<input type="text" ng-model="seller.imagePath" placeholder="" translate translate-attr-placeholder="sellerDlg.ImagePath"/>
	</Form>

	<button class="btn btn-primary" ng-click="onOk()">
		<span translate="shared.Add"></span>
	</button>
	<button class="btn btn-primary" ng-click="onCancel()">
		<span translate="shared.Cancel"></span>
	</button>
</div>