<div class="productContainer">

	<div class="productImage">
		<img ng-src="{{product.imagePath}}" alt="{{'shared.AltTag' | translate}}" width="200" height="200"/>
	</div>
	<div class="productContent"> 
		<div class="productLeft">
			<label translate="product.Name"></label>
			<p>{{product.name}}</p>
			<label translate="product.Price"></label>
			<p>{{product.price}} kr.</p>
		</div>
		<div class="productRight">
			<label translate="product.QuantitySold"></label>
			<p>{{product.quantitySold}}</p>
			<label translate="product.QuantityInStock"></label>
			<p>{{product.QuantityInStock}}</p>
		</div>
	</div>
	<div ng-controller="SellerDetailsController">
		<button class="glyphicon glyphicon-edit btn btn-default" ng-click="onEditProduct(product)" >
			<i class="fa fa-plus"/>
			<span translate="shared.Edit"></span>
		</button>
	</div>
</div>