<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading">
	<div >
		<button class="btn btn-primary" ng-click="onAddProduct()">
			<i class="fa fa-plus"/>
			<span translate="shared.Add"></span>
		</button>
	</div>

	<div>
		<a href="#/"><span translate="shared.Back"></span></a>
	</div>
	<img src="{{seller.imagePath}}" alt="profile picture" height="200" width="200">
	<h2>{{seller.name}}</h2>
	<p>{{seller.category}}</p>
</div>

<product-card ng-repeat="p in products" ng-model="p">
</product-card>