<div ng-show="isLoading">
	<loading-message></loading-message>
</div>

<div ng-hide="isLoading">
	<div>
		<a href="#/"><span translate="shared.Back"></span></a>
	</div>
	<img src="{{seller.imagePath}}" alt="profile picture" height="200" width="200">
	<h2>{{seller.name}}</h2>
	<p>{{seller.category}}</p>
</div>

<ul class="nav nav-tabs">
  <li><a href="/#/sellers/{{sellerID}}">All products</a></li>
  <li class="active"><a href="/#/sellers/{{sellerID}}/topTen">Top ten</a></li>
</ul>

<product-card ng-repeat="p in topTen" ng-model="p">
</product-card>