<!DOCTYPE html>
<html ng-app="project3App">
<head>
	<title>WEPO Assignment 3 - Online Web Store</title>
	<link rel="shortcut icon" type="image/png" href="http://i.imgur.com/7KwFUnl.jpg?1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="styles/vendor.css">
	<link rel="stylesheet" href="styles/app.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
	<main class="container-fluid">
		<div class="Main clearfix" ng-view id="content"></div>
	</main>

	<!-- error messages  -->
	<toaster-container></toaster-container>

	<div class="languageButtons" ng-controller="LanguageController">
		<button ng-click="onChangeToIS()">is</button>
		<button ng-click="onChangeToEN()">en</button>
	</div>

	<!-- inject:vendor:js -->
	<script src="node_modules/postcss/lib/vendor.js"></script>
	<!-- endinject -->

	<!-- inject:app:js -->
	<script src="src/app.js"></script>
	<!-- endinject -->

	<!-- inject:templates:js -->
	<script src="gulp/tasks/templates.js"></script>
	<!-- endinject -->

</body>
</html>
