/*.content{
    width: 500px;
    padding-top: 10%;
    margin:0 auto;
}*/

.languageButtons{
	width: 75px;
    padding-top: 5%;
    margin:0 auto;
}
/*
body {
	background-image: url("http://p1.pichost.me/i/42/1658737.jpg");
	background-size: 100%;
}*/

th, td {
	font-weight: bold;
	font-style: normal;
	color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}