
.Sellers {
  /* TODO: add any Sellers-specific styles here! */
}

.ProductContainer {
	padding-top: 20px;
	margin-top: 10px;
	position: static;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border:1px solid black;
}

.SellerDetailContainer {
	margin-left: 40%;
}

.languageButtons{
	margin-top: 10px;
	margin-left: 46%;
}