.languageButtons{
	width: 75px;
    padding-top: 5%;
    margin:0 auto;
}

th, td {
	font-weight: bold;
	font-style: normal;
	color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}